body {
    background-color: #3B495E;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    user-select: none;
}

.outbox {
    width: 400px;
}

.canv {
    touch-action: none;
}